* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans Display", 'Helvetica Neue', Helvetica, Arial, "roboto", sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

.bodypage-audio{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 44px 1fr;
    grid-template-areas: 
    'navbar right-body'
    'left-body right-body';
}

.navbar-cnn-audio{
    grid-area: navbar;
    background-color: #0c0c0c;
    border-bottom: 1px solid #4c4c4c;
    
}

.body-left{
    grid-area: left-body;
    background-color: #0c0c0c;
    overflow-y: auto;
   
}

.body-right{
    grid-area: right-body;
    background-color: white;
    overflow-y: auto;
}

.block-news-border{
    border-bottom: 1px solid #262626;
}

.sel-title{
    color: #fefefe;
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.sel-text{
    color:#8c8c8c;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 17.5px;
}
.body-left-news a{
    text-decoration: none;
}
.body-left-news ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.body-left-news ul li{
    list-style: none;
}

.body-left-news ul li img{
    height: 32px;
    width: 32px;
    margin-right: 12px;
}

.title-img{
    height: 433px;
    width: 100%;
    background-color: #5e0911;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 66px;
}

.title-img .arrow{
    position: absolute;
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    background: #fefefe;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, .25);
    height: 40px;
    width: 40px;
    top: 184px;
    border-radius: 100%;
    cursor: pointer;
    z-index: 10;
    background-repeat: no-repeat;
    background-position: center center;
    /* display: block; */
}

.title-img .arrow.left {
    left: 16px;
}

.title-img .arrow.right {
    right: 16px;
}

.items-title-img{
    position: absolute;
    transition: transform .6s cubic-bezier(.8,0,.4,1);

}

.items-title-img.items-right{
    transform: translateX(-698px);
}

.items-title-img.items-left{
    transform: translateX(698px);
}


.title-img-items{
    
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.title-img-items li{
    display: block;
    width: 650px;
    min-width: 650px;
    height: 375px;
    border-radius: 8px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .55), 0 0 48px -2px rgba(255, 26, 53, .32);
    margin: 0 24px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.body-right .shows {
    margin: 36px 36px 0 36px;
    border-bottom: 1px solid #e6e6e6;
}

.body-right .header-title {
    display: flex;
    line-height: 40px;
}


.body-right h2 {
    font-size: 28px;
    font-weight: 300;
    color: #0c0c0c;
    margin: 0;
    padding: 0;
}

.body-right h3 {
    font-size: 14px;
    font-weight: 400;
    color: #4d4d4d;
    margin: 0;
    padding: 0;
    letter-spacing: 0;
}

.body-right .tunein-powered {
    color: #8c8c8c;
    font-size: 10px;
    margin-left: 10px;
}

.body-right .tunein-logo {
    background-image: url(/img/tunein-logo@3x.899057a2.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 48px;
    height: 22px;
    margin: 6px 0 0 5px;
}

.body-right .items{
    list-style: none;
    margin: 36px 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.body-right .item{
    margin: 0 24px 24px 0;
    max-width: 170px;
    cursor: pointer;
}

.body-right .coverart{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.body-right .background-img{
    width: 170px;
    height: 170px;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid rgba(12, 12, 12, .08);
}

.playpausewrapper{
    background-color: rgba(12, 12, 12, .5);
    position: absolute;
    border-radius: 100%;
    border: 2px solid #fefefe;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    background-size: 20px 22px;
    background-image: url(/img/pause.svg);
    background-position: 16px center;
    background-repeat: no-repeat;
}

.item:hover .coverart .playpausewrapper{
    display: block;
}

.item .author{
    width: 150px;
    margin: 12px 0 0 0;
    color: #262626;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}