

* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans Display", 'Helvetica Neue', Helvetica, Arial, "roboto", sans-serif;

}

.link-group {
    white-space: nowrap;
}

.link {
    text-decoration: none;
    color: gray;
    padding: 0 10px;
}

.link::after {
    content: '|';
    margin-left: 10px;
    margin-right: 10px;
    color: gray;
}

.link:last-child::after {
    content: '';
    margin-left: 0;
    margin-right: 0;
    /* Bỏ dấu gạch đứng sau liên kết cuối cùng */
}

.nav-custom .navbar-toggler::backdrop .navbar-toggler-icon{
    opacity: 0;    
}

@media (min-width: 1400px) {
    #btn-texttop-left,
    #btn-texttop-right {
  display: none;
}
}


@media (min-width: 1500px) {
    #menu-1, #menu-2, #menu-3, #menu-4, #menu-5, #menu-6{
        display: flex;
    }

    #smenu-1, #smenu-2, #smenu-3, #smenu-4, #smenu-5, #smenu-6{
        display: none;
    }
}

@media (max-width: 1450px) {
    #smenu-6{
        display: block;
    }

    #smenu-1, #smenu-2, #smenu-3, #smenu-4, #smenu-5{
        display: none;
    }

    #menu-6{
        display: none;
    }
}

@media (max-width: 1400px) {
    #smenu-5{
        display: block;
    }

    #smenu-1, #smenu-2, #smenu-3, #smenu-4{
        display: none;
    }

    #menu-5{
        display: none;
    }
}

@media (max-width: 1245px) {
    #smenu-4{
        display: block;
    }

    #smenu-1, #smenu-2, #smenu-3{
        display: none;
    }

    #menu-4{
        display: none;
    }
}

@media (max-width: 1200px) {
    #smenu-3{
        display: block;
    }

    #smenu-1, #smenu-2{
        display: none;
    }

    #menu-3{
        display: none;
    }
}

@media (max-width: 1100px) {
    #smenu-2{
        display: block;
    }

    #smenu-1{
        display: none;
    }

    #menu-2{
        display: none;
    }
}

@media (max-width: 1000px) {
    #smenu-1{
        display: block;
    }

    #menu-1{
        display: none;
    }
}

@media (min-width: 992px) {
    .row-cols-lg-7 .col{
        width: 14.2857143%;
        padding-left: 1px;
    }

    .border-lg-start{
        border-left: 1px solid;
    }

    
}

@media (max-width: 992px) {
    .row-cols-lg-7 .title-mini{
        font-size: 16px;
        font-weight: 500;
    }

    
}



@media (min-width: 576px) {
    .mini-btn-s-signin{
        display: none;
    }

    
}

@media (max-width: 575px) {
    .mini-btn-s-signin{
        display: block;
    }

    
}

#text-none-unline:hover span {
    text-decoration: none;
}

.nav-custom .dropdown-item {
    border-bottom: 0.5px solid gray;


  }

  
  .nav-custom .dropdown-item:hover{
    background-color: transparent; 
  }


  .navbar-nav .btn-sg-custom{
    background: black;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 6px;
}

.nav-custom .fa-magnifying-glass, .nav-custom {
    font-size: 15px;
}










.texttop-line {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
}

.texttop-line::-webkit-scrollbar{
    display: none;
}


#btn-texttop-left.hidden,
#btn-texttop-right.hidden {
  display: none;
}


.texttop-line a {
    text-decoration: none;
    color: black;
    text-wrap: nowrap;
}

.line-text:hover {
    text-decoration: underline;
    text-decoration-color: black;
    text-underline-offset: 3px;
}

.texttop-line .link{
    padding: 0;
    font-size: 16px;
}




.news-1 a {
    text-decoration: none;
}

.title-news-1 {
    text-decoration: none;
    color: black;
    font-size: 34px;
    line-height: 38px;
    font-weight: 700;
    text-align: center;
}

.title-mini{
    text-decoration: none;
    color: black;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.img-custom{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.img-background-c{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(129, 129, 129, 0.459);
    opacity: 0;
    pointer-events: none;
    z-index: 1;
}
.color-red-c{
    background-color: red;
    
}
.news-img-mini, .news-img-mini-6{
    width: 100%;
    height: auto;
    display: flex;
    padding-bottom: 12px;
    margin-bottom: 12px;
}

.news-img-mini .img-news-mini{
    width: 40%;
}

.news-img-mini .text-news-mini{
    width: 60%;
    padding-left:12px;
}


.news-img-mini-6 .img-news-mini{
    width: 30%;
}

.news-img-mini-6 .text-news-mini{
    width:70%;
    padding-left:12px;
}



.img-effect:hover .img-background-c, .news-img-mini-6:hover .img-background-c,.news-img-mini:hover .img-background-c, .figure:hover .img-background-c{
    opacity: 1;
}

.title-mini-bottom{
    margin-top: 5px;
}

.name-author-img{
    position: relative;
    background: white;
    z-index: 2  ;
    color: rgb(129 129 129 / 70%) ;
    font-size:10px;
    line-height: 25px;
    font-weight: 500;
}

.title-mini-s span{
    color:black;
    font-size: 16px;
    letter-spacing: .5px;
    line-height: 22px;
}

.border-news-custom{
    padding-bottom: 15px;
}

.line-text{
    text-decoration: none;
    color: black;

}

.lists-news li{
    margin-bottom: 24px;
}

.lists-news li a{
    font-size: 16px;
}

.items-news {
    width: 100%;
    height: 43px;
    box-sizing: border-box;
}


.border-dv{
    height: 3px;
    width: 15px;
    transition: 0.5s;

}

.have-effect:hover .border-dv{
    width: 100%;
    transition: 0.5s;
}
.arrow-items-c{
    opacity: 0;
    font-size: large;
    transition: 0.5s;
}
.have-effect:hover .arrow-items-c{
    opacity: 1;
    transition: 0.5s;
}
.title-items{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 16px;
    margin-top: 10px;
}

.album-img{

    box-sizing: border-box;
}

.icon-gallery-img{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 77px;
    height: 24px;
    color : white;
    font-size: 10px;
    font-weight: 500;
    background: rgb(71 70 70 / 80%);
    box-sizing: border-box;
    padding-top: 5px;
}

.color-black-c{
    background: #0c0c0c;
    width: 100%;
    height: 100%;
    color: white;
}

.color-black-c .line-text {
    color: white;
}

.color-black-c .name-author-img{
    color: gray;
    background: black;
}


.items-dropdown-nav{
    top: 42px;
    z-index: 1;
    text-align: left;
    opacity: 0;
}

.menu-dropdown-nav:hover .items-dropdown-nav{
    top: 42px;
    opacity: 1;
}


.items-dropdown-nav .nav-item{
    border: 1px solid gray;
}

.menu-dropdown-nav:hover .fa-angle-down{
    transform:rotate(180deg);
    padding-right: 10px;
}


.color-black-c .figure-caption{
    background: black;
}

.news-2{
    position: relative;
    width: 100%;
}

.news-2:hover .img-background-c{
    opacity: 1;
}

.color-black-c a{
    text-decoration: none;
}

.color-black-c .line-text:hover {
    text-decoration: underline;
    text-decoration-color: white;
    text-underline-offset: 5px;
}


.box-screach{
    background: white;
    width: 100%;
    height: 48px;
    border-radius: 10px;
    box-sizing: border-box;
}

.text-screach{
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    outline: none;
}

.btn-screach-c{
    width: 48px;
    height: 48px;
    border: none;
    background: none;
}

.text-screach::placeholder{
    color: black;
    opacity: 1;
}

.no-background{
    background: none;
    background-color: transparent;
}

.lists-weight{
    font-weight: 300;
}

.nav-right-c{
    height: 32px;
}

.font-icon-nho{
    font-size: 24px;
}

.btn-sg-custom{
    background: black;
    color: white;
    width: 66px;
    border-radius: 6px;
}

.line-bottom-c .line-text{
    font-size:12px;

}



.btn-sg-custom:hover{
    background: rgba(128, 128, 128, 80%);
}
